.static {
  position: static !important;
}

.sidebar {
  display: table;
  float: none;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 90%;
  box-shadow: darkgray;
}

.sidebar .widget {
  width: 100%;
  margin-bottom: 30px;
  background-color: #fdfdfd;
  border-width: 1px;
  border-style: solid;
  border-color: #ede9e9;
  border-radius: 8px;
}

.static > div {
  position: static !important;
}

.widget {
  float: left;
}

.widget-title {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #424242;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding: 20px 20px 10px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

.widget-title::before {
  bottom: 0;
  content: "";
  height: 2px;
  left: 20px;
  position: absolute;
  width: 20%;
}

mat-list-item mat-label,
mat-list-item mat-icon {
  color: #5c5c5c;
}
