<aside class="sidebar static">
  <!-- shortcuts widget -->
  <div class="widget sticky-top">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Shortcuts</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list class="list-group">
          <mat-list-item>
            <mat-icon matPrefix>feed</mat-icon>
            &nbsp;&nbsp;
            <mat-label>News Feed</mat-label>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matPrefix>inbox</mat-icon>
            &nbsp;&nbsp;
            <mat-label>Inbox</mat-label>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matPrefix>people_alt</mat-icon>
            &nbsp;&nbsp;
            <mat-label>Friends</mat-label>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matPrefix>message</mat-icon>
            &nbsp;&nbsp;
            <mat-label>Messages</mat-label>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matPrefix>notifications</mat-icon>
            &nbsp;&nbsp;
            <mat-label>Notifications</mat-label>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matPrefix>logout</mat-icon>
            &nbsp;&nbsp;
            <mat-label>Logout</mat-label>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- recents widget -->
  <div class="widget position-sticky">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Recents</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon matPrefix></mat-icon>
            News Feed
          </mat-list-item>
          <mat-list-item>
            <mat-icon matPrefix></mat-icon>
            Inbox
          </mat-list-item>
          <mat-list-item>
            <mat-icon matPrefix></mat-icon>
            Friends
          </mat-list-item>
          <mat-list-item>
            <mat-icon matPrefix></mat-icon>
            Messages
          </mat-list-item>
          <mat-list-item>
            <mat-icon matPrefix></mat-icon>
            Notifications
          </mat-list-item>
          <mat-list-item>
            <mat-icon matPrefix></mat-icon>
            Logout
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

  </div>
</aside>
