<div class="post mb-3" *ngFor="let post of posts">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="author-image"></div>
      <!-- post title here -->
      <mat-card-title>{{post.postTitle}}</mat-card-title>

      <!-- post author name here -->
      <mat-card-subtitle>{{post.authorName}}</mat-card-subtitle>
      <span class="spacer"></span>

      <!-- more options menu button here -->
      <button type="button" mat-icon-button>
        <mat-icon>more_horiz</mat-icon>
      </button>
    </mat-card-header>

    <!-- divider -->
    <mat-divider></mat-divider>
    <mat-card-content>
      <!-- fit in the post content here -->
      <div class="">
        {{post.postContent}}
      </div>
    </mat-card-content>

    <!-- divider -->
    <mat-divider></mat-divider>

    <!-- card actions -->
    <mat-card-actions class="m-auto">
      <button mat-icon-button class="upvote-btn btn">
        <mat-icon>favorite_border</mat-icon>
        {{post.upVotes}}
      </button>
      <button mat-icon-button class="downvote-btn btn">
        <mat-icon>heart_broken</mat-icon>
        {{post.downVotes}}
      </button>
      <button mat-icon-button class="comment-btn btn">
        <mat-icon>comment</mat-icon>
        {{post.commentCount}}
      </button>
    </mat-card-actions>

    <!-- comment -->
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>
