@media screen, (max-width: 980px) {
  .gap {
    padding: 16px 0;
  }
}

.gray-bg {
  float: left;
  width: 100%;
  background: #f4f7f6;
}

.gap {
  float: left;
  padding: 32px 0;
  position: relative;
  width: 100%;
}
