<div>
  <mat-toolbar color="primary">
    <mat-nav-list class="d-flex">
      <mat-list-item>
        <a matLine routerLink="/home"></a>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <a matLine href=""></a>
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>

    <span class="spacer"></span>

    <mat-nav-list class="d-flex">
      <mat-list-item>
        <a matLine routerLink="/home"></a>
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item>
        <a matLine routerLink="/home"></a>
        <button mat-icon-button>
          <mat-icon>people</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item>
        <a matLine routerLink="/chat"></a>
        <button mat-icon-button>
          <mat-icon>forum</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item>
        <a matLine routerLink="/home"></a>
        <button mat-icon-button>
          <mat-icon>notifications</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item>
        <a matLine routerLink="/home"></a>
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-toolbar>
</div>
