<aside >
  <div class="friend-menu">
    <mat-card class="friend-card">
      <mat-card-header>
        <mat-card-title>Buckets</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-nav-list class="friend-list">
          <mat-list-item *ngFor="let friend of friends">
            <mat-icon mat-list-icon>group</mat-icon>
            <div mat-line>{{ friend.username }}</div>
          </mat-list-item>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>
</aside>
