/*
.friend-menu:after {
  box-shadow: 20px 0 20px -20px #001f9c inset;
  content: "";
  height: 100%;
  top: 0;
  right: -20px;
  width: 20px;
}

.friend-menu {
  background: none repeat scroll 0 0 #f0f1f5;
  height: content-box;
  width: 100%;
}

 */

mat-card {
  width: 100%;
  border-radius: 0;
  padding: 16px 0 0;
}

.friend-list {
  padding-right: 8px;
  padding-left: 8px;
}

.friend-list > mat-list-item {
  border-radius: 8px;
}

.friend-list > mat-list-item:active {
  border-radius: 8px;
}

mat-icon {
  background-color: #673ab7;
  color: white;
}
