<form>
  <div class="row">
    <!-- username or email -->
    <div class="form-group col-lg-12 mb-4">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email or Username</mat-label>
        <input type="text" matInput placeholder="Ex. john.doe" class="p-fluid">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="text" matInput class="p-fluid">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

    </div>

    <!-- submit button -->
    <div class="form-group col-lg-12 mx-auto mb-0">
      <button mat-raised-button color="primary" class="btn-primary full-width form-btn">Login</button>
    </div>
  </div>
</form>
