<div class="col-md-7 col-lg-6 mr-auto">
  <form>
    <div class="row">

      <!-- username control -->
      <div class="input-group col-lg-12 mb-4">
        <div class="input-group">
          <span class="input-group-text bg-white px-4 border-md border-right-0">
            <i class="fa fa-user-alt text-muted"></i>
          </span>
          <input id="username" type="text" name="username" placeholder="Username or Email" class="form-control bg-white border-left-0 border-md">
        </div>
      </div>

      <!-- Password control -->
      <div class="input-group col-lg-12 mx-auto mb-4">
        <div class="input-group">
          <span class="input-group-text bg-white px-4 border-md border-right-0">
            <i class="fa fa-lock text-muted"></i>
          </span>
          <input id="password" type="password" name="password" placeholder="Password" class="form-control bg-white border-left-0 border-md">
        </div>
      </div>

      <!-- All hail the submit button -->
      <div class="form-group col-lg-12 mx-auto mb-0">
        <button class="btn btn-primary btn-block py-2">
          <span class="font-weight-bold">Login</span>
        </button>
      </div>

      <!-- Divider text -->
      <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
        <div class="border-bottom w-100 m-auto"></div>
        <span class="px-2 small text-muted font-weight-bold">OR</span>
        <div class="border-bottom w-100 m-auto"></div>
      </div>

      <!-- Social Login -->

      <div class="form-group col-lg-12 mx-auto">
        <a href="#" class="btn btn-primary btn-block py-2 btn-facebook">
          <i class="fab fa-facebook-f mr-2"></i>
          <span class="font-weight-bold">Continue with Facebook</span>
        </a>
        <a href="#" class="btn btn-primary btn-block py-2 btn-twitter">
          <i class="fab fa-twitter mr-2"></i>
          <span class="font-weight-bold">Continue with Twitter</span>
        </a>
      </div>

      <!-- Not Registered -->
      <div class="text-center w-100">
        <p class="text-muted font-weight-bold">
          Not Registered?
          <a href="#" class="text-primary ml-2">
            Register
          </a>
        </p>
      </div>
    </div>
  </form>
</div>
