mat-label {
  font-weight: 400;
  transform: translateY(40px);
  transition: all 0.4s;
  cursor: text;
  z-index: -1;
}

.form-control {
  border-width: 0;
  background-color: inherit;
}

.mat-form-btn {
  border-radius: 0;
  width: 100%;
}

.switch-btn {
  border-radius: 0;
  border-width: 1px;
  border-color: purple;
  color: inherit;
  background-color: #fff;

}
