.merged.row {
  margin: 0;
}

.merged {
  padding: 0;
}

@media (max-width: 980px) {
  .feature {
    height: 0;
  }

}
.feature-area {
  background: #673ab7 none repeat scroll 0 0;
  color: #fff;
  float: left;
  height: 100vh;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.land-meta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.form-bg {
  background: #f4f7f6 none repeat scroll 0 0;
  float: left;
  height: 100vh;
  position: relative;
  width: 100%;
}

@media (max-width: 980px) {
  .form-area {
    display: inline-block;
    position: unset;
    transform: translate(0px);
    width: 100%;
    height: inherit;
  }
}

.form-area {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 35px #e2e2e2;
  display: block;
  float: none;
  left: 50%;
  padding: 35px 55px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 505px;
}

