<div class="border d-flex justify-content-center auth-box">
  <div class="container">
    <div class="row align-items-center auth-box">
      <div class="col-lg-6 form-container">
        <app-form-title
          title-heading="Login"
          title-body="Hello! Welcome back">
        </app-form-title>
        <div class="justify-content-center d-flex">
          <div class="">No account yet?</div>
        </div>
        <button mat-raised-button type="button" >Register</button>
      </div>

      <div class="col-lg-6 form-container">
        <app-login-form></app-login-form>
      </div>

    </div>
    <div class="row align-items-center auth-box">
      <div class="col-lg-6 form-container">
        <app-form-title
          title-heading="Login"
          title-body="Hello! Welcome back">
        </app-form-title>
      </div>

      <div class="col-lg-6 form-container">
        <app-login-form></app-login-form>
      </div>

    </div>

  </div>
</div>
