<div class="container-hero">
  <div class="row">

    <!-- text section -->
    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
      <h1>The revolution is here</h1>
      <p>Lorem my ipsum my big head is stupid and I am so fuckin tired!</p>
      <button class="btn btn-light btn-lg action-button" type="button">Learn More</button>
    </div>

    <!-- image section -->
    <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
      <div class="iphone-mockup">
        <img src="iphone-image" class="device">
        <div class="screen"></div>
      </div>
    </div>
  </div>
</div>
