<!-- hero section -->
<div class="container hero">
  <div class="row">
    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
      <h1>{{ heroHeading }}</h1>
      <p>God bless Cameroon </p>
      <button class="btn btn-light btn-lg action-button" type="button">Learn More</button>
    </div>
    <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
      <div class="iphone-mockup">
        <img src="assets/img/iphone.svg" class="device" alt="">
        <div class="screen">

        </div>
      </div>
    </div>
  </div>
</div>
