<aside class="sidebar static">
  <!-- profile widget -->
  <div class="widget">
    <span class="mat-h4 widget-title">Your Profile</span>
    <div class="your profile">
      <div class="figure-img">
        <figure >
          <a href="">

            <img class="img-fluid profile-pic" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">

          </a>
        </figure>
      </div>

      <div class="profile-meta">
        <mat-list>
          <mat-list-item>
            <mat-icon matPrefix>person</mat-icon>
            &nbsp;
            <mat-label>John Doe</mat-label>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matPrefix>article</mat-icon>
            &nbsp;
            <mat-label>Posts</mat-label>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matPrefix>emoji_events</mat-icon>
            &nbsp;
            <mat-label>Trophies</mat-label>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>

  <!-- friends widget -->
  <div class="widget">
    <span class="mat-h4 widget-title">Friends</span>
    <mat-list class="friend-list">
      <mat-list-item class="d-flex">
        <div class="friend-img">
          P
        </div>
        <div class="friend-meta">
          Friend 1
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</aside>
