<section>
  <div class="shadow-none">
    <mat-card >
      <mat-card-header>
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list>
          <div class="d-flex you">
            <mat-list-item>
              <mat-icon mat-list-icon>person</mat-icon>
              <div mat-line>Hello</div>
            </mat-list-item>
          </div>

          <div class="d-flex not-you">
            <mat-list-item>
              <mat-icon mat-list-icon>person</mat-icon>
              <div mat-line>Hi</div>
            </mat-list-item>
          </div>

          <div class="d-flex you">
            <mat-list-item>
              <mat-icon mat-list-icon>person</mat-icon>
              <div mat-line>I just wish to say you are stupid</div>
            </mat-list-item>
          </div>

          <div class="d-flex not-you">
            <mat-list-item>
              <mat-icon mat-list-icon>person</mat-icon>
              <div mat-line>Likewise brother</div>
            </mat-list-item>
          </div>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</section>
