<form>
  <div class="row">
    <!-- First name -->
    <div class="p-inputgroup col-lg-6 mb-4">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>First Name</mat-label>
        <input type="text" matInput placeholder="Ex. John" class="p-fluid mb-auto">
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
    </div>

    <!-- Last Name -->
    <div class="p-inputgroup col-lg-6 mb-4">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput placeholder="Ex. Doe" class="p-fluid">
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
    </div>

    <!-- Email -->
    <div class="p-inputgroup col-lg-12 mb-4">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="Ex. johndoe@mail.com" class="p-fluid ">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>

    <!-- Username -->
    <div class="p-inputgroup col-lg-12 mb-4">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="Ex. john.doe" class="p-fluid">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </div>

    <!-- Password -->
    <div class="p-inputgroup col-lg-12 mb-4">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput class="p-fluid full-width">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
    </div>
    <!-- Confirm Password -->
    <div class="p-inputgroup col-lg-12 mb-4">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput class="p-fluid">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
    </div>


    <!-- Submit button -->
    <div class="form-group col-lg-12 mx-auto mb-0">
      <button mat-raised-button color="primary" class="full-width form-btn">Register</button>
    </div>

    <!-- Divider text -->
    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
      <div class="border-bottom w-100 ml-5"></div>
      <span class="px-2 small text-muted font-weight-bold align-self-center">OR</span>
      <div class="border-bottom w-100 ml-5"></div>
    </div>

    <!-- Social Login -->
    <div class="form-group col-lg-6 mx-auto mb-0 btn-container">
      <a mat-fab  class="btn-facebook">
        <mat-icon class="fab fa-facebook"></mat-icon>
      </a>
    </div>
    <div class="form-group col-lg-6 mx-auto mb-0 btn-container">
      <a mat-fab  class="btn-twitter">
        <mat-icon class="fab fa-twitter"></mat-icon>
      </a>
    </div>
    <!-- Already Registered -->
    <div class="text-center w-100">
      <p class="text-muted font-weight-bold">
        Already Registed?
        <a href="#" class="text-primary ml-2">
          Login
        </a>
      </p>
    </div>
  </div>
</form>
