<div class="container-fluid">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form class="register-form">

      <mat-card-content>
        <!-- Email -->
        <mat-form-field appearance="legacy" class="full-width">
          <mat-label>Email</mat-label>
          <input type="text" matInput placeholder="Ex. johndoe@mail.com" >
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <!-- username -->
        <mat-form-field appearance="legacy" class="full-width">
          <mat-label>Username</mat-label>
          <input type="text" matInput placeholder="Ex. john.doe" class="p-fluid">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <!-- password -->
        <mat-form-field appearance="legacy" class="full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput class="p-fluid full-width">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      </mat-card-content>

      <!-- Submit button -->
      <mat-form-field>
        <button mat-raised-button color="primary" class="full-width form-btn">Register</button>
      </mat-form-field>

    </form>
  </mat-card>

</div>

