<form>

  <!-- names -->
  <div class="row">
    <!-- first name -->
    <div class="col-lg-6 col-sm-6 form-group">
      <mat-form-field class="form-control" appearance="legacy">
        <mat-label>First Name</mat-label>
        <input matInput type="text" name="firstname" placeholder="Ex. John">
      </mat-form-field>
    </div>

    <!-- second name -->
    <div class="col-lg-6 col-sm-6  form-group">
      <mat-form-field class="form-control" appearance="legacy">
        <mat-label>Second Name</mat-label>
        <input matInput type="text" name="secondname" placeholder="Ex. John">
      </mat-form-field>
    </div>

  </div>


  <!-- email -->
  <div class="row">
    <div class="col-lg-12 form-group">
      <mat-form-field class="form-control" appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" placeholder="Ex. johndoe@mail.com">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    </div>
  </div>

  <!-- username -->
  <div class="row">
    <div class="col-lg-12 form-group">
      <mat-form-field class="form-control" appearance="legacy">
        <mat-label>Username</mat-label>
        <input matInput type="text" name="username" placeholder="Ex. johndoe">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    </div>
  </div>

  <!-- password -->
  <div class="row">
    <div class="col-lg-6 col-sm-6 form-group">
      <mat-form-field class="form-control" appearance="legacy">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="username" >
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    </div>

    <!-- confirm password -->
    <div class="col-lg-6 col-sm-6 form-group">
      <mat-form-field class="form-control" appearance="legacy">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" name="username" >
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    </div>
  </div>

  <!-- buttons -->
  <div class="row">
    <!-- reg button -->
    <div class="col-lg-6 col-sm-6 form-group">
      <div class="btn btn-block">
        <button type="button" mat-raised-button color="primary" class="mat-form-button">Register</button>
      </div>
    </div>

    <!-- logswitch button -->
    <div class="col-lg-6 col-sm-6 form-group">
      <div class="btn btn-block">
        <button type="button"
                mat-raised-button
                color="accent"
                (click)="switchToLogin()"
                class="mat-form-button">
          Register
        </button>
      </div>
    </div>
  </div>

</form>
