.full-width {
  width: 100%;
}

.form-btn {
  border-radius: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
}


.btn-facebook {
  background: #405D9D;
  border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
  background: #314879;
}

.btn-twitter {
  background: #42AEEC;
  border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
  background: #1799e4;
}
